@media screen and (max-width:745px) {
  .ul-list {
    font-size: 80%;
    padding-right: 20vh;
  }

  header{
    margin: 0 auto;
    }

  .btn-main .btn-start{
  display: inline-block;
  width: 70%;
  align-items: center;
  }
  
  .btn-main .btn-plans{
    display: inline-block;
    width: 70%;
    margin-top: 3vh;
    flex-direction: center;
    }
    
   section {
    display: block;
  }

}